html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background-color: transparent; }

a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: 0.67em 0; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

hr { box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

body { line-height: 1.5em; font-family: Helvetica,arial,sans-serif; font-size: 16px; color: #666; background-color: #eee; }

ul { margin: 0; padding: 0; list-style: none; }

a { color: #666; text-decoration: none; }

em, i { font-style: normal; }

h1, h2, h3, h4, h5, h6, p { margin: 0; font-weight: normal; }

.mt10 { margin-top: 10px; }

.mt15 { margin-top: 15px; }

.mr10 { margin-right: 10px; }

.mr15 { margin-right: 15px; }

.mb10 { margin-bottom: 10px; }

.mb15 { margin-bottom: 15px; }

.ml10 { margin-left: 10px; }

.ml15 { margin-left: 15px; }

.mt20 { margin-top: 10px; }

.mt25 { margin-top: 15px; }

.mr20 { margin-right: 10px; }

.mr25 { margin-right: 15px; }

.mb20 { margin-bottom: 10px; }

.mb25 { margin-bottom: 15px; }

.ml20 { margin-left: 10px; }

.ml25 { margin-left: 15px; }

.mt30 { margin-top: 10px; }

.mt35 { margin-top: 15px; }

.mr30 { margin-right: 10px; }

.mr35 { margin-right: 15px; }

.mb30 { margin-bottom: 10px; }

.mb35 { margin-bottom: 15px; }

.ml30 { margin-left: 10px; }

.ml35 { margin-left: 15px; }

.mt40 { margin-top: 10px; }

.mt45 { margin-top: 15px; }

.mr40 { margin-right: 10px; }

.mr45 { margin-right: 15px; }

.mb40 { margin-bottom: 10px; }

.mb45 { margin-bottom: 15px; }

.ml40 { margin-left: 10px; }

.ml45 { margin-left: 15px; }

.mt50 { margin-top: 10px; }

.mt55 { margin-top: 15px; }

.mr50 { margin-right: 10px; }

.mr55 { margin-right: 15px; }

.mb50 { margin-bottom: 10px; }

.mb55 { margin-bottom: 15px; }

.ml50 { margin-left: 10px; }

.ml55 { margin-left: 15px; }

[class^="icon-"], [class*=" icon-"] { display: inline-block; background-image: url("../images/icon.png"); background-repeat: no-repeat; background-size: 100%; overflow: hidden; }

[class^="btn-"], [class*=" btn-"] { display: inline-block; width: 80px; height: 30px; line-height: 30px; border-radius: 3px; text-align: center; color: #fff; background-color: #fd9500; }

.l { float: left; }

.r { float: right; }

.text-center { text-align: center; }

* { box-sizing: border-box; }

.font-orange { color: #ff802e; }

.font-success { color: #42c700; }

.btn-active { background-color: #ff7c70; }

.btn-success { background-color: #42c700; }

.btn-message { background-color: #298fdd; }

.btn-disable { background-color: #999; }

.btn-block { display: block; width: 100%; height: 40px; line-height: 40px; border-radius: 7px; font-size: 20px; }

.icon-person { width: 16px; height: 16px; background-image: url("../images/icon-person.png"); background-size: 100%; }

.icon-success { width: 30px; height: 30px; background-image: url("../images/icon-success.png"); }

.icon-order { width: 16px; height: 19px; background-image: url("../images/icon-order.png"); }

.icon-phone { width: 11px; height: 16px; background-image: url("../images/icon-phone.png"); }

.icon-addr { width: 13px; height: 16px; background-image: url("../images/icon-addr.png"); }

.icon-traffic { width: 22px; height: 20px; background-image: url("../images/icon-traffic.png"); }

.icon-menu { width: 18px; height: 20px; background-image: url("../images/icon-menu.png"); }

.active .icon-traffic { background-image: url("../images/icon-traffic-active.png"); }
.active .icon-menu { background-image: url("../images/icon-menu-active.png"); }

header.bar-nav { position: fixed; left: 0; right: 0; top: 0; display: table; table-layout: fixed; width: 100%; height: 46px; background-color: #f6f7f9; }
header.bar-nav a { position: relative; display: table-cell; line-height: 44px; text-align: center; border-bottom: #d6d6d6 solid 1px; }
header.bar-nav a i { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(27px, -10px); -moz-transform: translate(27px, -10px); -ms-transform: translate(27px, -10px); -o-transform: translate(27px, -10px); transform: translate(27px, -10px); }
header.bar-nav a.active { border-bottom: #fd9500 solid 2px; }
header.bar-nav.color-theme a.active { color: #fd9500; }
header.bar-nav ~ .content { padding-top: 46px; }

footer.bar-nav { position: fixed; left: 0; right: 0; bottom: 0; z-index: 999; display: table; table-layout: fixed; border-top: #bebebe solid 1px; padding: 5px 0; width: 100%; height: 50px; background-color: #fff; }
footer.bar-nav a { display: table-cell; line-height: 39px; font-size: 20px; text-align: center; color: #999; }
footer.bar-nav a i { margin-right: 5px; vertical-align: -3px; }
footer.bar-nav a:first-child { border-right: #e1e1e1 solid 1px; }
footer.bar-nav a.active { color: #4a4a4a; }
footer.bar-nav ~ .content { margin-bottom: -45px; padding-bottom: 45px; }

.bar-footer { *zoom: 1; position: fixed; left: 0; right: 0; bottom: 0; z-index: 999; border-top: #bebebe solid 1px; padding: 7px 15px; height: 45px; background-color: #fff; }
.bar-footer:after, .bar-footer:before { content: ""; display: table; }
.bar-footer:after { clear: both; overflow: hidden; }
.bar-footer .total { line-height: 30px; font-size: 20px; color: #000; }
.bar-footer .total em { font-size: 24px; color: #fd9500; }
.bar-footer ~ .content { margin-bottom: -45px; padding-bottom: 45px; }

.badge { display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: #ff1500; }

.global-list { margin-bottom: 10px; padding-left: 15px; background-color: #fff; }
.global-list .item { *zoom: 1; padding: 15px 15px 15px 0; border-bottom: #eee solid 1px; }
.global-list .item:after, .global-list .item:before { content: ""; display: table; }
.global-list .item:after { clear: both; overflow: hidden; }
.global-list .item h3 { line-height: 30px; font-size: 20px; color: #000; }
.global-list .item h3 i { margin-right: 7px; }
.global-list .item p { line-height: 30px; color: #999; }
.global-list .item p .icon-phone { margin: 0 10px 0 2px; vertical-align: -2px; }
.global-list .item p .icon-addr { margin: 0 9px 0 1px; vertical-align: -2px; }
.global-list .item p .font-orange { font-size: 18px; }
.global-list .item .num { font-size: 18px; }
.global-list .item .num em { color: #fd9500; }
.global-list .item .large { color: #666; }
.global-list .item .btn-default, .global-list .item .btn-active, .global-list .item .btn-success, .global-list .item .btn-message, .global-list .item .btn-disable { margin-right: 10px; }
.global-list .item .font-large { font-size: 18px; }
.global-list .item:last-child { border-bottom: 0; }
.global-list .item.title { margin-left: -15px; border-left: #fd9500 solid 5px; padding-left: 10px; }
.global-list .item.title h2 { font-size: 22px; color: #000; }

.status-seller, .status-person { display: inline-block; margin-right: -15px; padding: 2px 7px 2px 21px; border-radius: 14px 0 0 14px; color: #fff; background-color: #fd9500; }

.status-person { background-color: #298fdd; }

.mas { position: fixed; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 1000; padding-top: 17px; width: 100px; height: 100px; border-radius: 7px; font-size: 18px; text-align: center; color: #fff; background-color: rgba(0, 0, 0, 0.7); }

.order-status { padding: 7px 15px 7px 40px; color: #fff; background-color: #5e6b85; }
.order-status p { line-height: 30px; }
.order-status p i { margin: 0 6px 0 -25px; vertical-align: -4px; }
.order-status p span { font-size: 18px; }

.order-info { margin-bottom: 10px; padding: 15px 15px 15px 40px; background-color: #fff; }
.order-info h3 { line-height: 30px; font-size: 20px; color: #000; }
.order-info h3 i { margin: 0 9px 0 -25px; }

.box { padding: 15px; }

/*# sourceMappingURL=main.css.map */
