*{
    box-sizing: border-box;
}

.white-bg{
    background-color: #fff;
}
.deep-bg{
    overflow-x: hidden;
    background-color: #38373e;
}

// font
.font-orange{
    color: #ff802e;
}
.font-success{
    color: $success-color;
}

// btn
.btn-active{
    background-color: #ff7c70;
}
.btn-success{
    background-color: $success-color;
}
.btn-message{
    background-color: $inverse-color;
}
.btn-disable{
    background-color: #999;
}
.btn-block{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 7px;
    font-size: 18px;
}

// icon
.icon-person{
    width: 16px;
    height: 16px;
    background-image: url("../images/icon-person.png");
    background-size: 100%;
}
.icon-success{
    width: 30px;
    height: 30px;
    background-image: url("../images/icon-success.png");
}
.icon-order{
    width: 16px;
    height: 19px;
    background-image: url("../images/icon-order.png");
}
.icon-phone{
    width: 11px;
    height: 16px;
    background-image: url("../images/icon-phone.png");
}
.icon-addr{
    width: 13px;
    height: 16px;
    background-image: url("../images/icon-addr.png");
}
.icon-traffic{
    width: 22px;
    height: 20px;
    background-image: url("../images/icon-traffic.png");
}
.icon-menu{
    width: 18px;
    height: 20px;
    background-image: url("../images/icon-menu.png");
}
.icon-ps{
    width: 16px;
    height: 16px;
    background-image: url("../images/icon-ps.png");
}
.icon-password{
    width: 16px;
    height: 16px;
    background-image: url("../images/icon-password.png");
}
.active{
    .icon-traffic{
        background-image: url("../images/icon-traffic-active.png");
    }
    .icon-menu{
        background-image: url("../images/icon-menu-active.png");
    }
}

header.bar-nav{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 46px;
    background-color: #f6f7f9;
    a{
        position: relative;
        display: table-cell;
        line-height: 44px;
        text-align: center;
        border-bottom: #d6d6d6 solid 1px;
        i{
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(27px, -10px);
            -moz-transform: translate(27px, -10px);
            -ms-transform: translate(27px, -10px);
            -o-transform: translate(27px, -10px);
            transform: translate(27px, -10px);
        }
        &.active{
            border-bottom: $theme-color solid 2px;
        }
    }
    &.color-theme{
        a.active{
            color: $theme-color;
        }
    }
    &~ .content{
        padding-top: 46px;
    }
}
footer.bar-nav{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: table;
    table-layout: fixed;
    border-top: #bebebe solid 1px;
    padding: 5px 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    a{
        display: table-cell;
        line-height: 39px;
        font-size: 18px;
        text-align: center;
        color: #999;
        i{
            margin-right: 5px;
            vertical-align: -3px;
        }
        &:first-child{
            border-right: #e1e1e1 solid 1px;
        }
        &.active{
            color: #4a4a4a;
        }
    }
    &~ .content{
        margin-bottom: -45px;
        padding-bottom: 45px;
    }
}

.bar-footer{
    @include clearfix;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    border-top: #bebebe solid 1px;
    padding: 7px 15px;
    height: 45px;
    background-color: #fff;
    .total{
        line-height: 30px;
        font-size: 18px;
        color: #000;
        em{
            font-size: 22px;
            color: $theme-color;
        }
    }
    &~ .content{
        margin-bottom: -45px;
        padding-bottom: 45px;
    }
}

.badge{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff1500;
}
.global-list{
    margin-bottom: 10px;
    padding-left: 15px;
    background-color: #fff;
    .item{
        @include clearfix;
        padding: 15px 15px 15px 0;
        border-bottom: #eee solid 1px;
        h3{
            line-height: 30px;
            font-size: 18px;
            color: #000;
            i{
                margin-right: 7px;
            }
        }
        p{
            line-height: 30px;
            color: #999;
            .icon-phone{
                margin: 0 10px 0 2px;
                vertical-align: -2px;
            }
            .icon-addr{
                margin: 0 9px 0 1px;
                vertical-align: -2px;
            }
            .font-orange{
                font-size: 16px;
            }
        }
        .num{
            font-size: 16px;
            em{
                color: $theme-color;
            }
        }
        .large{
            color: #666;
        }
        .btn-default,
        .btn-active,
        .btn-success,
        .btn-message,
        .btn-disable{
            margin-right: 10px;
        }
        .font-large{
            font-size: 16px;
        }
        &:last-child{
            border-bottom: 0;
        }
        &.title{
            margin-left: -15px;
            border-left: $theme-color solid 5px;
            padding-left: 10px;
            h2{
                font-size: 20px;
                color: #000;
            }
        }
    }
}
.status-seller {
    display: inline-block;
    margin-right: -15px;
    padding: 2px 7px 2px 21px;
    border-radius: 14px 0 0 14px;
    color: #fff;
    background-color: #fd9500;
}
.status-person{
    @extend .status-seller;
    background-color: $inverse-color;
}
.mas{
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding-top: 17px;
    width: 100px;
    height: 100px;
    border-radius: 7px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,.7);
}
.order-status{
    padding: 7px 15px 7px 40px;
    color: #fff;
    background-color: #5e6b85;
    p{
        line-height: 30px;
        i{
            margin: 0 6px 0 -25px;
            vertical-align: -4px;
        }
        span{
            font-size: 16px;
        }
    }
}
.order-info{
    margin-bottom: 10px;
    padding: 15px 15px 15px 40px;
    background-color: #fff;
    h3{
        line-height: 30px;
        font-size: 18px;
        color: #000;
        i{
            margin: 0 9px 0 -25px;
        }
    }
}
.box{
    padding: 15px;
}
.banner{
    width: 100%;
    img{
        width: 100%;
        vertical-align: middle;
    }
}
.form-group{
    @include clearfix;
    margin-left: 36px;
    i{
        float: left;
        margin-left: -30px;
        margin-top: 7px;
    }
    .text{
        border: 0;
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        word-break: break-all;
        resize: none;
    }
    .h60{
        height: 60px;
    }
}
.logo{
    padding: 30px 23% 10px;
    img{
        width: 100%;
    }
}
.input-box{
    position: relative;
    margin-top: 15px;
    i{
        position: absolute;
        left: 27px;
        top: 9px;
        z-index: 2;
    }
    .text{
        border: #e1e1e1 solid 1px;
        padding: 0 5px 0 50px;
        border-radius: 5px;
        width: 100%;
        height: 37px;
        line-height: 35px;
        font-size: 14px;
    }
}
.footer-note{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 15px;
    background-color: #fff;
    p{
        border-top: #dadada solid 1px;
        line-height: 54px;
        color: #999;
    }
}
.full-box{
    padding-bottom: 70px;
}
.shortcut-nav{
    padding: 20px 0 25px;
    text-align: center;
    a{
        display: inline-block;
        border: #fff solid 1px;
        padding: 5px 15px;
        font-size: 18px;
        color: #fff;
        background-color: #38373e;
        &:first-child{
            border-radius: 7px 0 0 7px;
        }
        &:last-child{
            border-radius: 0 7px 7px 0;
        }
        &.active{
            color: #38373e;
            background-color: #fff;
        }
    }
}
.shortcut-div{
    position: relative;
    padding: 0 20px;
    width: 100%;
    height: 401px;
    .page{
        position: absolute;
        left: 20px;
        right: 20px;
        top: 0;
        bottom: 0;
        border-radius: 10px;
        text-align: center;
        .wrap{
            padding-top: 20px;
            background: url("../images/shortcut_bg.png") repeat-y;
            background-size: 100%;
        }
        .title{
            margin: 0 auto 10px;
            width: 173px;
            height: 43px;
            line-height: 36px;
            font-size: 20px;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        img{
            margin-bottom: 10px;
            width: 170px;
        }
        p{
            line-height: 25px;
            font-size: 16px;
            color: #fff;
        }
        .bottom{
            margin-top: 10px;
            padding: 20px 0;
            border-radius: 0 0 10px 10px;
            text-align: center;
            background-color: #fff;
        }
        .btn-default,
        .btn-message{
            width: 170px;
            height: 40px;
            line-height: 40px;
            border-radius: 20px;
            font-size: 18px;
        }
    }
    .seller{
        background: -moz-linear-gradient(top,  #ffe880 0%, #fed30f 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #ffe880 0%,#fed30f 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #ffe880 0%,#fed30f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        .title{
            color: $theme-color;
            background-image: url("../images/shortcut-seller-title.png");
        }
    }
    .person{
        background: -moz-linear-gradient(top,  #67bdfe 0%, #1794fb 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #67bdfe 0%,#1794fb 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #67bdfe 0%,#1794fb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        .title{
            color: #fff;
            background-image: url("../images/shortcut-person-title.png");
        }
    }
}