// variable
$theme-color: #fd9500 !default;
$inverse-color: #298fdd !default;
$success-color: #42c700 !default;

// type
body {
    line-height: 1.5em;
    font-family: Helvetica,arial,sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #eee;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #666;
    text-decoration: none;
}

em, i{
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: normal;
}

input,
textarea{
    outline: medium;
}

// Function
@for $i from 1 through 5 {
    $odd: 5 !default;
    .mt#{$i}0 {
        margin-top: $i * 10px;
    }
    .mt#{$i}5 {
        margin-top: $i * 10px + $odd;
    }
    .mr#{$i}0 {
        margin-right: $i * 10px;
    }
    .mr#{$i}5 {
        margin-right: $i * 10px + $odd;
    }
    .mb#{$i}0 {
        margin-bottom: $i * 10px;
    }
    .mb#{$i}5 {
        margin-bottom: $i * 10px + $odd;
    }
    .ml#{$i}0 {
        margin-left: $i * 10px;
    }
    .ml#{$i}5 {
        margin-left: $i * 10px + $odd;
    }
}

// icon
[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    background-image: url("../images/icon.png");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

// btn
[class^="btn-"],
[class*=" btn-"] {
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    background-color: $theme-color;
}

// shortcut
.l {
    float: left;
}

.r {
    float: right;
}

.text-center {
    text-align: center;
}




